{
    "openapi": "3.0.1",
    "info": {
        "title": "Eigen Explorer",
        "description": "Eigen Explorer API service",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api.eigenexplorer.com"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/avs": {
            "get": {
                "description": "Returns all AVS data",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "AVS response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Plant"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/avs/count": {
            "get": {
                "description": "Returns the total number of AVS",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "AVS response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Plant"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/avs/{id}": {
            "get": {
                "description": "Returns a single AVS based on the ID supplied",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of plant to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Plant deleted",
                        "content": {}
                    },
                    "400": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/operator": {
            "get": {
                "description": "Returns all operator data",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "AVS response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Plant"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/operator/{id}": {
            "get": {
                "description": "Returns a single operator based on the ID supplied",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of plant to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Plant deleted",
                        "content": {}
                    },
                    "400": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Plant": {
                "required": ["name"],
                "type": "object",
                "properties": {
                    "name": {
                        "description": "The name of the plant",
                        "type": "string"
                    },
                    "tag": {
                        "description": "Tag to specify the type",
                        "type": "string"
                    }
                }
            },
            "NewPlant": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Plant"
                    },
                    {
                        "required": ["id"],
                        "type": "object",
                        "properties": {
                            "id": {
                                "description": "Identification number of the plant",
                                "type": "integer",
                                "format": "int64"
                            }
                        }
                    }
                ]
            },
            "Error": {
                "required": ["error", "message"],
                "type": "object",
                "properties": {
                    "error": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    }
}
